.navbar {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.nav-item>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item>ul>li {
    list-style: none;
    padding:  0 10px;
}